{# src/Admin/PartnerBundle/views/Partner/index.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Partenaires' %}
{% block title %} Liste des {{itemName}} {% endblock %}
{% block pagetitle %}Liste des {{itemName}} {% endblock %}
{% block bodyContent %} 
    <table class="u-full-width">
        <thead>
            <tr>
                <th id="center_align">Nom</th>
                <th id="center_align">Publiée</th>
                <th id="center_align">Website</th>
                <th id="center_align">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Partner in partner %}
                <tr>
                    <td id="center_align">{{Partner.name}}</td>
                    <td id="center_align">{%if Partner.enable == 1%}
                        oui
                    {%else%}
                        non
                        {%endif%}
                    </td>
                    <td id="center_align">{{Partner.websiteLink}}</td>
                        <td id="center_align">
                            <a href="{{ path('admin_partner_edit',
                                            {'id' : Partner.id},
                                            {'name': Partner.name},
                                            {'websiteLink': Partner.websiteLink},
                                            {'enable':Partner.enable},
                                            {'sort':Partner.sort}
                           )}}">
                                <img class="edit" src="{{ asset('images/edit.png') }}" alt="modifier"/>
                            </a>
                            &nbsp;
                            <a href="{{ path('admin_partner_delete',{'id' : Partner.id})}}">
                                <img class="delete" src="{{ asset('images/delete.png') }}" alt="supprimer"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
                {% endblock %}
                    {% block addBtn %} 
                        <a class="button" id="btn_add" href="{{ path('admin_partner_add')}}">Ajouter une {{itemName}} </a>
                    {% endblock %}
