{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block menta %}
            <meta http-quiv="Content-Type" content=" text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}Index Category{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/admin.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('/css/skeleton.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('/css/normalize.css')}}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div id="header">
                <div class="container">
                    <div class="row">
                        <div class="four columns" id="first_column_header">
                            <a  id="a_nav" href=""><h2>Hola!</h2></a>
                        </div>
                        <div class="four columns" id="center_align">
                            <a href="">&nbsp;</a>
                        </div>
                        <div class="four columns" id="center_align">
                            <a id="a_header" href=""><h5>Deconnexion</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascript %}
            <script src="{{ asset('/js/main.js')}}" type="text/javascript"></script>
        {% endblock %}
        {% block content %}
            <div class="container">
                <div class="row">
                    <div class="four columns">
                        <div id="sidbar">
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/">Home</a> 
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/category">Categories</a>
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/dailymenu">Menu du Jour</a>
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/news">News</a>
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/partner">Partenaires</a>
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/product">Produits</a>
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/proposition">Propositions</a>
                            <a class="button u-max-full-width" id="btn_nav" href="/resto/web/app_dev.php/contact">Contact Webmaster</a>
                        </div>
                    </div>
                    <div class="eight columns">
                        <div>
                            {% for type, flashes in app.session.flashbag.all %}
                                {% for flash in flashes %}
                                    <div class="alert alert-{{ type }}">{{ flash }}</div>
                                {% endfor %}
                            {% endfor %}
                            <h1>{% block pagetitle %} {% endblock %}</h1>
                            {% block bodyContent %}{% endblock %}
                            <div id="center_align">{% block addBtn %}{% endblock %}</div>
                        </div> 
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footerContent %}
        <div id="footer">
            <div id="center_align">Pour gronder votre Webmaster écrivez- lui un courriel ou composer le : 079/ 839.27.14</div> 
        </div>
    {% endblock %}
</body>
</html>
