{# app/Resources/views/trattoriaBase.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta http-quiv="Content-Type" content=" text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}           
            <link href="{{ asset('css/skeleton.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/normalize.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/trattoria.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/style.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('http://fonts.googleapis.com/css?family=Courgette')}}" rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>       
        <div class="{% block image %} {% endblock %}">
            <div class="container" id="container">
                {% block header %}
                    <div class="row">
                        <div class="four columns">
                            <img id="logo" src="{{ asset('images/logo.png') }}" alt="logo"/>
                        </div>
                        <div class="eight columns" id="text_center">
                    </div>
                </div>
                &nbsp;
            {% endblock %}
            <div class="row">
                <div class="four columns">
                    <a href="{{ path('homepage') }}">
                    </a>
                {% block navigation %}{% endblock %}
            </div>
            <div class="eight columns">
            {% block pageTitle %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</div>
<div id="footer">
    ____<br>
    {% block footer %}&copy;Trattoria d'Italia-2015{% endblock %}
</div>
</div>
</div>
    {% block javascripts %}
        <script src="{{ asset('js/index.js')}}" type="text/javascript"></script>
        <script src="{{ asset('js/prefixfree.min.js')}}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>