{# app/Resources/views/default/carte.html.twig #}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">La Carte</h1>{% endblock %}
{% block image %}carte{% endblock %}
{% block navigation %}{{ include ('default/siteNavigation.html.twig') }}{% endblock %}    
{% block content %}
    {% for category in categories %}
        <h1>{{ category.name }}</h1>
        <table class="u-full-width">
            <tbody>
                {% for product in category.products %}
                    {% if product.enable == 1 %}
                        <tr>
                            <td class="text-product">{{ product.name }}</td>
                            <td class="text-price">{{ product.mainPrice }} CHF</td>
                        </tr>
                        <tr>
                            <td class="text-description">{{ product.description }}</td>
                        </tr>
                    {% endif %}
                {% endfor %} 
            </tbody>
        </table>
        ***
    {% endfor %}
{% endblock %}
