{# app/Resources/views/default/homepage.html.twig #}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Menu du Jour</h1>{% endblock %}
{% block image %}home_image{% endblock %}
{% block navigation %}{{ include ('default/siteNavigation.html.twig') }}{% endblock %}    
{% block content %}
    {% for daily_menu in daily_menus %}
        {% if daily_menu.enable == 1%}
            <h3>{{ daily_menu.title|capitalize }}</h3>
            {#<p>{{daily_menu.date|date("d/M/y")}}</p>#}
            {% for proposition in daily_menu.propositions %}
                <h4>{{ proposition.title }}</h4>
                <p>{{ proposition.product.name|default('-') }}</p><br>
            {% endfor %}
            <p>{{daily_menu.price}} CHF</p>
        {% endif %}
    {% endfor %}
{% endblock %}
