{# app/Resources/views/default/homepage.html.twig #}
{% extends 'trattoriaBase.html.twig' %}
{#% block navigation %}{{ include ('AppBundle:Default:siteNavigation.html.twig') }}{% endblock %}#}
{% block content %}
    {% for Daily_menu in daily_menus %}
        {% if Daily_menu.enable == 1%}
            <h1>Menu {{ Daily_menu.title|capitalize }}</h1>
            <p>{{Daily_menu.date|date("d/M/y")}}</p>
            <p>{{Daily_menu.price}} CHF</p>
            {% for proposition in Daily_menu.propositions %}
                <h2>{{ proposition.title }}</h2>
                <p>{{ proposition.product.name }}</p><br> 
            {% endfor %}
        {%endif%}
        <hr>
    {% endfor %}
{% endblock %}
