{# app/Resources/views/default/nous-contacter.html.twig #}
{% extends '::trattoriaBase.html.twig' %}
{% block pageTitle %}<h1 id="title">Nous Contacter</h1>{% endblock %}
{% block image %}contact{% endblock %}
{% block navigation %}{{ include ('default/siteNavigation.html.twig') }}{% endblock %}    
{% block content %}
    <div class='row'>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.subject, { attr: {style: "color: black;"} }) }}
            {{ form_row(form.email, { attr: {style: "color: black;"} }) }}
            {{ form_row(form.message, { attr: {style: "color: black;"} }) }}
            <input type="submit" name="Envoyer" >
        {{ form_end(form) }}
    </div> 
{% endblock %}