{# app/Resources/views/default/siteNavigtion.html.twig #}
{% block navigation %}
    <a href="#menu" id="toggle"><span></span></a>
    <div class="nav" id="menu">
        <ul>                         
            <li><a href="{{ path('newspage') }}">LES NEWS<hr></a></li>
            <li><a href="{{ path('carte') }}">LA CARTE<hr></a></li> 
            <li><a href="{{ path('trattoria') }}">LA TRATTORIA<hr></a></li> 
            <li><a href="{{ path('partenaires') }}">PARTENAIRES<hr></a></li> 
            <li><a href="{{ path('infos-pratiques') }}">INFOS PRATIQUES<hr></a></li> 
            <li><a href="{{ path('nous-trouver') }}">NOUS TROUVER<hr></a></li> 
            <li><a href="{{ path('nous-contacter') }}">NOUS CONTACTER<hr></a></li> 
        </ul>
    </div>
{% endblock %}