{# src/Admin/ProductBundle/Resources/views/Product/detail.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Produit' %}
{% block pagetitle %}{% endblock %}
{% block bodyContent %}
    <h2>{{name}}</h2>
    <b>Nom: </b>{{name}}<br>
    <b>Description: </b><em>{{description}}</em><br>
    <b>Prix: </b>{{mainPrice}}<br>
    <b>Second prix: </b>{{secondPrice|default('-') }}<br>
    <b>Publié: </b>
    {%if enable == 1%}
        oui
    {%else%}
        non
    {%endif%}<br>
{% endblock %}
