{# src/Admin/ProductBundle/views/Product/index.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Produit' %}
{% block title %} Liste des {{itemName}}s {% endblock %}
{% block pagetitle %}Liste des {{itemName}}s {% endblock %}
{% block bodyContent %} 
    <table class="u-full-width">
        <thead>
            <tr>
                <th id="center_align">Titre</th>
                <th id="center_align">Publiée</th>
                <th id="center_align">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Product in product %}
                <tr>
                    <td id="center_align">{{Product.name}}</td>
                    <td id="center_align">{%if Product.enable == 1%}
                        oui
                    {%else%}
                        non
                        {%endif%}
                    </td>
                    <td id="center_align">
                            <a href="{{ path('admin_product_edit',
                                            {'id' : Product.id},
                                            {'name': Product.name},                                           
                                            {'description': Product.description},
                                            {'mainPrice' : Product.mainPrice},
                                            {'secondPrice' : Product.secondPrice},
                                            {'enable':Product.enable}
                           )}}">
                            <img class="edit" src="{{ asset('images/edit.png') }}" alt="modifier"/>
                            </a>
                            &nbsp;
                            <a href="{{ path('admin_product_delete',{'id' : Product.id})}}">
                            <img class="delete" src="{{ asset('images/delete.png') }}" alt="supprimer"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
                {% endblock %}
                    {% block addBtn %} 
                        <a class="button u-max-full-width" id="btn_add" href="{{ path('admin_product_add')}}">Ajouter un {{itemName}} </a>
                    {% endblock %}
