{# src/Admin/CategoryBundle/views/List/index.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Catégories' %}
{% block title %} Liste des Catégories {% endblock %}
{% block pagetitle %}Liste des Catégories{% endblock %}
{% block bodyContent %} 
    <table class="u-full-width">
        <thead>
            <tr>
                <th id="center_align">Nom</th>
                <th id="center_align">Publiée</th>
                <th id="center_align">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Category in category%}
                <tr>
                    <td id="center_align">{{Category.name}}</td>
                    <td id="center_align">{%if Category.enable == 1%}
                        oui
                    {%else%}
                        non
                        {%endif%}
                        </td>
                        <td id="center_align">
                            <a  href="{{ path('admin_category_edit',
                                            {'id' : Category.id},
                                            {'name': Category.name},
                                            {'description': Category.description},
                                            {'enable':Category.enable},
                                            {'sort':Category.sort}
                           )}}">
                            <img class="edit" src="{{ asset('images/edit.png') }}" alt="modifier"/>
                            </a>
                            &nbsp;
                            <a href="{{ path('admin_category_delete',{'id' : Category.id})}}">
                                <img class="delete" src="{{ asset('images/delete.png') }}" alt="supprimer"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
                {% endblock %}
                    {% block addBtn %} 
                        <a class="button" id="btn_add" href="{{ path('admin_category_add')}}">Ajouter une {{itemName}} </a>
                    {% endblock %}
