{# src/Admin/CategoryBundle/views/List/index.html.twig#}
{% extends '::base.html.twig' %}
{% block title %} Liste des Catégories {% endblock %}
{% block pagetitle %} Liste de Catégories {% endblock %}
{% block body %} 
    <table border='1' style='width:100%'>
        <tr>
            <th>Nom</th>
                {#<th>Description</th>#}
            <th>Publiée</th>
            <th>Detail</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        {% for Category in category%}
            <tr>
                <td>{{Category.name}}</td>
                {#<td>{{Category.description}}</td>#}
                <td>{%if Category.enable == 1%}
                    oui
                {%else%}
                    non
                    {%endif%}
                    </td>
                    <td>
                        <a href='{{ path('admin_category_detail', {'id': Category.id})}}'> 
                            Voir détail
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_category_edit',
                                            {'id' : Category.id},
                                            {'name': Category.name},
                                            {'description': Category.description},
                                            {'enable':Category.enable},
                                            {'sort':Category.sort}
                           )}}">Modifier</a>
                    </td>
                    <td>
                        {#mettre une condition qui si la catégorie possède un produit
                        un message est envoyé pour signalé qu'elle ne peut pas être supprimée#}
                        <a href="{{ path('admin_category_delete',{'id' : Category.id})}}">Supprimer</a>
                    </td>
                </tr><br>
                {% endfor %}
                </table>
                <p>Ajouter une Catégorie<a href="{{ path('admin_category_add')}}">Ajouter</a></p>
                {% endblock %}
