{# src/Admin/ContactBundle/Resources/views/Contact/contact.html.twig#}
{% extends '::base.html.twig' %}
{% set itemName = 'Contact Webmaster' %}
{% block title %} Contact Webmaster {% endblock %}
{% block pagetitle %}Contact Webmaster{% endblock %}
{% block bodyContent %}
            <div class='row'>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.subject, { attr: {style: "color: black;"} }) }}
                {#{{ form_row(form.email, { attr: {style: "color: black;"} }) }}#}
                {{ form_row(form.message, { attr: {style: "color: black;"} }) }}
                <input id="btn_send" type="submit" name="Envoyer" value="Envoyer">
                {{ form_end(form) }}
            </div>
{% endblock %}